<div *ngIf="loading">
  <div class="loader-backdrop">
    <mat-spinner style="stroke: crimson;  top: 50%; left: 50%;"></mat-spinner>
  </div>
</div>

<ng-container *ngIf="(displayData$ | async) as data">
  <div class="card-container">
    <mat-card *ngFor="let user of data; let i = index" [class.edit-mode]="editMode && i === editId">
      <mat-card-content>
        <div *ngIf="!editMode || user.id !== editId">
          <h2>{{ user.name }}</h2>
          <p>Email: {{ user.email }}</p>
          <p>Username: {{ user.username }}</p>
          <p>Phone: {{ user.phone }}</p>
        </div>
        <div *ngIf="editMode && user.id === editId">
          <form [formGroup]="editForm">
            <mat-form-field>
              <label>Name</label>
              <input matInput placeholder="Name" formControlName="name">
            </mat-form-field>
            <mat-form-field>
              <label>Email</label>
              <input matInput placeholder="Email" formControlName="email">
            </mat-form-field>
            <mat-form-field>
              <label>Username</label>
              <input matInput placeholder="Username" formControlName="username">
            </mat-form-field>
            <mat-form-field>
              <label>Phone</label>
              <input matInput placeholder="Phone" formControlName="phone">
            </mat-form-field>
          </form>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button *ngIf=" !editMode || (editMode  && user.id !== editId)" (click)="deleteUser(user.id)" class="secondary-btn">Delete</button>
        <button mat-button (click)="toggleEditMode(user.id)" [disabled]="editMode && user.id !== editId" [ngClass]="(editMode && user.id === editId) ? 'secondary-btn' : 'primary-btn'">
          {{ editMode && user.id === editId ? 'Cancel' : 'Edit' }}
        </button>
        <button mat-button *ngIf="editMode && user.id === editId" (click)="saveChanges()" class="primary-btn">Save</button>
      </mat-card-actions>
    </mat-card>
  </div>
</ng-container>

