mat-card {
  background-color: #f4f4f4;
  border: 1px solid #cbcbcb;
}

.card-container {
  grid-template-columns: 1fr 1fr 1fr;
  display: grid;
  gap: 1rem;
}

.loader-backdrop {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

mat-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

mat-card-actions {
  display: flex;
  gap: 1rem;
}
